// Xcode project configuration

// the project relative path to openFrameworks root
// this must be defined before CoreOF.xcconfig is included
OF_PATH = ../../..

// include project configuration for the compiled openFrameworks library
// this contains project relative paths to core openFrameworks headers and libs
#include "../../../libs/openFrameworksCompiled/project/osx/CoreOF.xcconfig"

HEADER_SEARCH_PATHS = $(OF_CORE_HEADERS)
OTHER_LDFLAGS = $(OF_CORE_LIBS)
