<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Kind</key>
	<string>Xcode.Xcode3.ProjectTemplateUnitKind</string>
	<key>Identifier</key>
	<string>cc.openFrameworks.ofApplication</string>
	<key>Ancestors</key>
	<array>
		<string>cc.openFrameworks.bundleBase</string>
	</array>
	<key>Concrete</key>
	<true/>
	<key>Definitions</key>
	<dict>
		<key>bin/data/.gitignore</key>
		<dict>
			<key>Beginning</key>
			<string># Placeholder for an otherwise empty folder in the project workspace
# Ignore everything in this directory except the .gitignore file
*
!.gitignore
</string>
			<key>Group</key>
			<string>Data</string>
			<key>Path</key>
			<string>bin/data/.gitignore</string>
			<key>TargetIndices</key>
			<array/>
		</dict>
		<key>resources/___PACKAGENAMEASIDENTIFIER___.icns</key>
		<dict>
			<key>Kind</key>
			<string>Xcode.IDEKit.TextSubstitutionFileTemplateKind</string>
			<key>Group</key>
			<string>Resources</string>
			<key>Path</key>
			<string>resources/___PACKAGENAMEASIDENTIFIER___.icns</string>
		</dict>
		<key>src/___PACKAGENAMEASIDENTIFIER___.cpp</key>
		<dict>
			<key>Kind</key>
			<string>Xcode.IDEKit.TextSubstitutionFileTemplateKind</string>
			<key>Group</key>
			<string>Source</string>
			<key>Path</key>
			<string>src/___PACKAGENAMEASIDENTIFIER___.cpp</string>
		</dict>
		<key>src/___PACKAGENAMEASIDENTIFIER___.h</key>
		<dict>
			<key>Kind</key>
			<string>Xcode.IDEKit.TextSubstitutionFileTemplateKind</string>
			<key>Group</key>
			<string>Headers</string>
			<key>Path</key>
			<string>src/___PACKAGENAMEASIDENTIFIER___.h</string>
		</dict>
		<key>src/main.cpp</key>
		<dict>
			<key>Kind</key>
			<string>Xcode.IDEKit.TextSubstitutionFileTemplateKind</string>
			<key>Group</key>
			<string>Source</string>
			<key>Path</key>
			<string>src/main.cpp</string>
		</dict>
		<key>Xcode/Info.plist</key>
		<dict>
			<key>Kind</key>
			<string>Xcode.IDEKit.TextSubstitutionFileTemplateKind</string>
			<key>Group</key>
			<string>Resources</string>
			<key>Path</key>
			<string>Xcode/Info.plist</string>
			<key>TargetIndices</key>
			<array/>
		</dict>
		<key>Xcode/Prefix.pch</key>
		<dict>
			<key>Kind</key>
			<string>Xcode.IDEKit.TextSubstitutionFileTemplateKind</string>
			<key>Group</key>
			<string>Headers</string>
			<key>Path</key>
			<string>Xcode/Prefix.pch</string>
			<key>TargetIndices</key>
			<array/>
		</dict>
		<key>Xcode/Project.xcconfig</key>
		<dict>
			<key>Kind</key>
			<string>Xcode.IDEKit.TextSubstitutionFileTemplateKind</string>
			<key>Group</key>
			<string>Xcode</string>
			<key>Path</key>
			<string>Xcode/Project.xcconfig</string>
			<key>TargetIndices</key>
			<array/>
		</dict>
	</dict>
	<key>Description</key>
	<string>This project template provides a starting point for creating an application using the openFrameworks open-source C++ library.</string>
	<key>Platforms</key>
	<array>
		<string>com.apple.platform.macosx</string>
	</array>
	<key>Nodes</key>
	<array>
		<string>bin/data/.gitignore</string>
		<string>resources/___PACKAGENAMEASIDENTIFIER___.icns</string>
		<string>src/___PACKAGENAMEASIDENTIFIER___.cpp</string>
		<string>src/___PACKAGENAMEASIDENTIFIER___.h</string>
		<string>src/main.cpp</string>
		<string>Xcode/Info.plist</string>
		<string>Xcode/Prefix.pch</string>
		<string>Xcode/Project.xcconfig</string>
	</array>
	<key>Project</key>
	<dict>
		<key>BasedOn</key>
		<dict>
			<key>Debug</key>
			<string>Xcode/Project.xcconfig</string>
			<key>Release</key>
			<string>Xcode/Project.xcconfig</string>
		</dict>
		<key>Configurations</key>
		<dict>
			<key>Debug</key>
			<dict>
				<key>COPY_PHASE_STRIP</key>
				<string>NO</string>
			</dict>
			<key>Release</key>
			<dict>
				<key>COPY_PHASE_STRIP</key>
				<string>YES</string>
				<key>DEAD_CODE_STRIPPING</key>
				<string>YES</string>
			</dict>
		</dict>
		<key>SDKROOT</key>
		<string>macosx10.6</string>
		<key>SharedSettings</key>
		<dict>
			<key>CONFIGURATION_BUILD_DIR</key>
			<string>$(SRCROOT)/$(PRODUCT_NAME)/bin/</string>
			<key>FRAMEWORK_SEARCH_PATHS</key>
			<string>$(OF_PATH)/libs/glut/lib/osx/**</string>
			<key>HEADER_SEARCH_PATHS</key>
			<string>$(OF_CORE_HEADERS)</string>
			<key>MACOSX_DEPLOYMENT_TARGET</key>
			<string>10.6</string>
			<key>OTHER_LDFLAGS</key>
			<string>$(OF_PATH)/libs/openFrameworksCompiled/lib/osx/openFrameworksDebug.a $(OF_CORE_LIBS)</string>
		</dict>
	</dict>
	<key>Targets</key>
	<array>
		<dict>
			<key>BuildPhases</key>
			<array>
				<dict>
					<key>Class</key>
					<string>Sources</string>
				</dict>
				<dict>
					<key>Class</key>
					<string>Frameworks</string>
				</dict>
				<dict>
					<key>Class</key>
					<string>ShellScript</string>
					<key>ShellPath</key>
					<string>/bin/sh</string>
					<key>ShellScript</key>
					<string># Copy FMOD Ex to build product
cp -f $OF_PATH/libs/fmodex/lib/osx/libfmodex.dylib "$TARGET_BUILD_DIR/$PRODUCT_NAME.app/Contents/MacOS/libfmodex.dylib"; install_name_tool -change ./libfmodex.dylib @executable_path/libfmodex.dylib "$TARGET_BUILD_DIR/$PRODUCT_NAME.app/Contents/MacOS/$PRODUCT_NAME";</string>
				</dict>
				<dict>
					<key>Class</key>
					<string>Resources</string>
				</dict>
				<dict>
					<key>Class</key>
					<string>CopyFiles</string>
					<key>DstPath</key>
					<string/>
					<key>DstSubfolderSpec</key>
					<string>10</string>
					<key>RunOnlyForDeploymentPostprocessing</key>
					<string>NO</string>
				</dict>
			</array>
			<key>Frameworks</key>
			<array>
				<string>AGL</string>
				<string>ApplicationServices</string>
				<string>AudioToolbox</string>
				<string>Carbon</string>
				<string>CoreAudio</string>
				<string>CoreFoundation</string>
				<string>CoreServices</string>
				<string>OpenGL</string>
				<string>QuickTime</string>
				<string>AppKit</string>
				<string>Cocoa</string>
				<string>IOKit</string>
			</array>
			<key>OtherFrameworks</key>
			<array/>
			<key>ProductType</key>
			<string>com.apple.product-type.application</string>
			<key>SharedSettings</key>
			<dict>
				<key>SDKROOT</key>
				<string>macosx10.6</string>
				<key>WRAPPER_EXTENSION</key>
				<string>app</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
